:root{
    --main-color: #00BCD4;
    --secondary-color: #FF9800;
    --my-cyan: #00BCD4;
    --my-purple: #800080;
    --my-orange: #FF9800;
    --my-white: #f8f9fa;
    --my-dark: #343a40;
}

.groovy-text{
    font-family: 'Lobster', cursive;
}

.bg-main{
    background-color: var(--main-color)!important;
    color: var(--my-white)!important;
}
.color-main{
    color: var(--main-color)!important;
}
.bg-active-main:active{
    background-color: var(--main-color)!important;
    color: var(--my-white)!important;
}

.bg-focus-main:focus, .bg-focus-main:hover{
    background-color: var(--main-color)!important;
    color: var(--my-white)!important;
}


.bg-secondary{
    background-color: var(--secondary-color)!important;
    color: var(--my-white)!important;
}
.color-secondary{
    color: var(--secondary-color)!important;
}
.bg-active-secondary:active{
    background-color: var(--secondary-color)!important;
    color: var(--my-white)!important;
}

.bg-focus-secondary:focus, .bg-focus-secondary:hover{
    background-color: var(--secondary-color)!important;
    color: var(--my-white)!important;
}

.emblem{
    height: 200px;
}

.footer-link{
    color: var(--my-white)!important;
    text-decoration: none;
}